<h1>Course Status Has Been Updated</h1>
<p>Hello <%= @user.full_name %>,</p>
<p>Your request for the course <strong><%= @course.title %></strong>.</p>
<p>Congratulations! You have been: <%= @course_assignment.status %> for the course.</p>
<p>Thank you!</p>
